/* CSS Document */
@font-face {
    font-family: 'kanit';
    src: url('https://addpay.co.th/font/Kanit/Kanit-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: "kanit";

}

.logo {
    width: 170px;
    height: 100px;
    background-color: red;
    position: fixed;
    top: 6px;
    left: 10px;

}

/*#flipkart-navbar {*/
/*background-color: #00A9F7; !* สีพื้นหลัง *!*/
/*color: #FFFFFF;*/
/*}*/

.pang{
    margin-top:0px;
}
.row1 {
    padding-top: 10px;
    color: #455961;
    background-color: #575656;

}

/*#flipkart-navbar {*/

    /*position: fixed;*/
    /*top : 0 px;*/
    /*left : 0px;*/
    /*width: 100%;*/
    /*z-index: 999;*/


/*}*/


/*สีข้อความตรงค้นหา/ขนาด*/
.flipkart-navbar-input {
    padding: 7px 10px;
    /*border-radius: 8px 0 0 8px;*/
    border: 0 none;
    outline: 0 none;
    font-size: 15px;
    color: #FFFFFF;

}

/*สีปุ่ม ค้นหา*/
.flipkart-navbar-button {
    background-color: #d6071a;
    border: 1px solid #ffffff;
    /*border-radius: 0 8px 8px 0;*/
    color: #565656;
    padding: 5px 0;
    height: 35px;
    width: 100px;
    cursor: pointer;
}

/*สีตะกร้าสินค้า*/
.cart-button {
    background-color: #d6071a;
    box-shadow: 0 2px 4px 0 rgba(2, 2, 2, .50), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
    padding: 10px 0;
    text-align: center;
    height: 41px;
    border-radius: 2px;
    font-weight: 500;
    width: 100%;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}
.cart-button:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.cartN-button {
    background-color: #FAF49D;
    box-shadow: 0 2px 4px 0 rgba(2, 2, 2, .50), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
    padding: 0px 0;
    text-align: center;
    height: 62px;
    border-radius: 2px;
    font-weight: 500;
    width: 100%;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}
.cartN-button:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.cartM-button {
    background-color: #ACAA9E;
    box-shadow: 0 2px 4px 0 rgba(2, 2, 2, .50), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
    padding: 0px 0;
    text-align: center;
    height: 62px;
    border-radius: 2px;
    font-weight: 500;
    width: 100%;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}
.cartM-button:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

/*เปิดโต๊ะ*/
.carto-button {
    background-color: #B6B5B4;
    box-shadow: 0 2px 4px 0 rgba(2, 2, 2, .50), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
    padding: 10px 0;
    text-align: center;
    height: 41px;
    border-radius: 2px;
    font-weight: 500;
    width: 100%;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}

.carto-button:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
/*ปิดโต๊ะ*/
.cartc-button {
    background-color: #43c2fb;
    box-shadow: 0 2px 4px 0 rgba(2, 2, 2, .50), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
    padding: 10px 0;
    text-align: center;
    height: 41px;
    border-radius: 2px;
    font-weight: 500;
    width: 100%;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}

.cartc-button:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

/*เปิดโต๊ะ*/
.oo-button {
    background-color: #f5ebae;
    box-shadow: 0 2px 4px 0 rgba(2, 2, 2, .50), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
    padding: 10px 0;
    text-align: center;
    height: 71px;
    border-radius: 2px;
    font-weight: 500;
    width: 100%;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}

.oo-button:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
/*ปิดโต๊ะ*/
.cc-button {
    background-color: #818181;
    box-shadow: 0 2px 4px 0 rgba(2, 2, 2, .50), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
    padding: 10px 0;
    text-align: center;
    height: 71px;
    border-radius: 2px;
    font-weight: 500;
    width: 100%;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}

.cc-button:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
/*เก็บโต๊ะ*/
.pp-button {
    background-color: #5BB7F5;
    box-shadow: 0 2px 4px 0 rgba(2, 2, 2, .50), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
    padding: 10px 0;
    text-align: center;
    height: 71px;
    border-radius: 2px;
    font-weight: 500;
    width: 100%;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}

.pp-button:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.cart-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
}


.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
}

.dropdown:hover {
    background-color: #F02F2F;
}

.dropdown:hover .links {
    color: #F8D612;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    background-color: #fff;
    color: #333;
    left: 0px;
    border: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px -3px #555454;
    margin: 0;
    padding: 0px;
}

.links {
    color: #F8D612;;
    text-decoration: none;
}

.links:hover {
    color: #FDFDFD;
    text-decoration: none;
}

/*สี เมนู Dropdown*/
.profile-links {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 3px solid #e9e9e9;
    box-sizing: border-box;
    display: block;
    padding: 0 11px;
    line-height: 23px;
}

.profile-li {
    padding-top: 5px;
}

.largenav {
    display: none;
}

.smallnav {
    display: block;
}



.menu {
    cursor: pointer;
}



@media screen and (min-width: 768px) {
    .item-num {
        border-radius: 3px;
        background-color: rgba(27, 45, 45, 0.72);
        height: 30px;
        padding: 6px 6px;
        font-weight: 500;
        display: inline-block;
        color: #fff;
        line-height: 12px;
        margin-left: 5px;
        margin-right: 50px;
    }

    .item-number {
        border-radius: 3px;
        background-color: rgba(27, 45, 45, 0.72);
        height: 20px;
        padding: 3px 6px;
        font-weight: 500;
        display: inline-block;
        color: #fff;
        line-height: 12px;
        margin-left: 10px;
    }

    .upper-links {
        display: inline-block;
        padding: 0 30px;
        line-height: 23px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0;
        color: #FFF;
        border: none;
        outline: none;
        font-size: 14px;
    }


    .largenav {
        display: block;
    }

    .smallnav {
        display: none;
    }


}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 4px 8px -3px #555454;
    padding-top: 0px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    transition: 0.2s
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
    color: #fff;
}

@media screen and (max-height: 450px) {
    .sidenav a
    {
        font-size: 16px;
    }
    }


.sidenav-heading {
    font-size: 36px;
    color: #fff;
}

.blog_main{
 rgba(255, 255, 255, 0.2);height: 1500px;
}


