@font-face {
  font-family: 'kanit';
  src: url('https://addpay.co.th/font/Kanit/Kanit-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'kanit';
}


h1 {
    font-size: 1.5em;
    margin: .67em 0;
}

.evillage-body{
  background-color: #b4f3fc;
  margin-top:25px;
}


.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 10px;
}

.navbar-header{
  /*background-color: #ffd29d;*/
  color:#000;
  margin-top:10px;
  margin-left: 20px;
  border:3px #fff solid;
  border-radius: 20px;
  /*font-weight: bold;*/

}

.navbar-default .navbar-brand {
     color: #222; 
     font-size: 24px;
     /*font-weight: bold;*/
}

.navbar-evillage-header{
  background-color: rgb(154, 207, 234);
}

.navbar-evillage ul li{

  border-bottom: 2px solid #FFF;
 /* border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;*/
  
}

.navbar-evillage a{
  color:#222;
  /*font-weight: bold;*/
  font-size: 16px;
}

.evillage-color-1{
background-color: #fff9b3;
border-top:2px solid #FFF;

}
.evillage-color-2{
background-color: #d3ffa9;
  
}
.evillage-color-3{

  background-color: #9af5e0;
}
.evillage-color-4{
background-color: #c3caff;
  
}
.evillage-color-5{
background-color: #e5b6ff;
  
}
.evillage-color-6{
background-color: #8fbdef;
  
}
.evillage-color-7{
background-color: #beefff;
  
}
.evillage-color-8{
background-color: #ffbaa0;
  
}
.evillage-color-9{
background-color: #79a0fa;
  
}
.evillage-color-10{
background-color: #d0cbcb;
  
}

.navbar-evillage-menu {
  background-color: #beefff;
  border-radius: inherit;
}

.navbar-evil-first {
  border-top:2px #fff solid;
}

#page-warpper {
    /*background-color: #fcf8e3;*/
    border-bottom-left-radius: 15px;
    /*border-bottom-right-radius: 50px;*/
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
     box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075); 


}


.evillage-panel-a{
margin: 10px 0px;
padding: 10px 10px;
/*background-image: -webkit-linear-gradient(top,#d9edf7 0,#b9def0 100%);
    background-image: linear-gradient(to bottom,#d9edf7 0,#b9def0 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);*/
    
    border-color: #9acfea;
    border-radius: 5px;

}

.detail{
    border: 1px #FFF solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.result{
    border: 1px #FFF solid;
    border-radius: 5px;
    padding: 10px;
      margin-bottom: 10px;

}




.page-header {
     border-bottom: inherit; 
    }

/*.conradius{
	padding: 5px;
	border:1px ;
	border-color:#dbdbdb;
	border-style: solid;
	background-color: #FFF;
	border-radius: 4px;
 	min-height: 1290px;
}*/

.evillage_footer {

  height: 200px;
  width: 100%;
  background-color: #333;

 background: url('http://ict.addpay.co.th/images/footer-evillage.png') no-repeat; 
/*                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;*/


}

@media (min-width: 768px) {

	.navbar-fixed-top, .navbar-fixed-bottom {
    right: 0;
    left: 0;
    height: 80px;
    z-index: 1030;
}

	.page-header{
		margin-top:10px;
	}

    .navbar-static-side {
    margin: 100px 0 0 0;
    position: absolute;
    width: 200px;
    z-index: 1;
    }

    #page-warpper {

    border-left:inherit;
    margin: 0 0 0 200px;
    min-height: 700px;
    /*padding: inherit;*/
    /*padding: 6px 10px;*/
    
}

.border-none{
  border-bottom: none;
}
