
.largenav {
    /*margin-right: 70px;*/
}


#flipkart-navbar {
    background-color: #00a012;
    /*color: #FFFFFF;*/
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
}

.row1{
    background-color: 	#555;
}

.logo-layout{
    position: absolute ;
    top:10px;
}

.logo-height{
    height: 100px;
}
.smallsearch{
    position: absolute ;
    top:33px;
}

.flipkart-navbar-button {
    background-color: #bdfdc4;
}



.cart-btn{

    background-color: #FE9100;
    /*box-shadow: 0 2px 4px 0 rgba(2, 2, 2, .50), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);*/
    padding: 10px 0;
    text-align: center;
    height: 43px;
    /*border-radius: 2px;*/
    font-weight: 500;
    width: 165px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    margin-top: -10px;
    margin-right: 15px;
}






.navbar-nav>li>.dropdown-menu {
    margin-top: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.navbar-default .navbar-nav>li>a {
    width: 200px;
    font-weight: bold;
}

.mega-dropdown {
    position: static !important;
    width: 100%;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 285px;
    z-index: 10;
}

.mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 283px;
    z-index: 8;
}

.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu > li > ul > li {
    list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
    color: #428bca;
    font-size: 18px;
    font-weight: bold;
}

.mega-dropdown-menu form {
    margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}


@media screen and (max-width: 768px) {

    .logo-layout{
        width:100% ;
        margin-left: -20px;
        text-align: center;
    }

    .logo-height{
        height: 120px;
    }
    .smallsearch{
        position: absolute ;
        top:95px;
    }

    .flipkart-navbar-input {
        padding: 7px 10px;
        /*border-radius: 8px 0 0 8px;*/
        border: 0 none;
        outline: 0 none;
        font-size: 15px;
        color: #565656;
        margin-left: 1px;
    }

    .flipkart-navbar-button {
        background-color: #a2dbdd;
        border: 1px solid #ffffff;
        /*border-radius: 0 8px 8px 0;*/
        color: #565656;
        padding: 5px 0;
        height: 35px;
        width: 84px;
        cursor: pointer;
    }

    .smallsearch{

        margin-top: -10px;
        margin-bottom: 27px;
    }

}